# The number of robots.
5

## Robot's stationary power save modes - parameters and its minimal duration. ##
# Intervals of the input power for each power save mode.
50 100 40 40 15 15
# Intervals of the minimal delay for each power save mode.
0 0 0.5 1.3 20 35

# Intervals of the minimal duration and prolongation of the robot's movement.
0.8 3 3 12
# Parameters of energy functions - a_{min} a_{max} b_{min} b_{max} c_{min} c_{max} ...
250 350 0 60 60 85
# Interval of coefficient powers.
-1 1

# The minimal duration and prolongation intervals for static activities.
0 10 15 50
# The minimal and maximal number of points in the static activity.
1 4

# The number of serial sequences (ordered sequences of the robot's subtasks) in an assembling/dissassembling operation.
1 3
# The length of the serial sequences (how many subtasks per a sequence).
1 4
# The minimal average degree of the vertex in the graph of robots.
2.1 2.5

# The probability of the handover between robots using tables.
70
# The probability of the robots handover.
30

# The number of collisions.
3 10

# Dilatation factor.
1.05 1.40
